<?xml version="1.0" encoding="utf-8"?>
<manifest 
	xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.freeandroapp.level"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">
    
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
    
    <uses-sdk 
        android:minSdkVersion="4" 
        android:targetSdkVersion="11"/>
    
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    
    <uses-feature android:name="android.hardware.sensor.accelerometer" />

    <application 
    	android:icon="@drawable/push_icon" 
    	android:label="@string/name">
    	
        <activity 
        	android:name=".SplashActivity"
        	android:screenOrientation="portrait"
        	android:hardwareAccelerated="true"
    		android:theme="@style/Level.NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	
       <activity android:name=".Level"
        android:screenOrientation="portrait"
        android:hardwareAccelerated="true"
        android:theme="@style/Level.NoTitle">       	   
       </activity> 
       
       <activity 
        	android:name="com.freeandroapp.level.LevelPreferences"
            android:screenOrientation="portrait"/>
    		

  </application>     
</manifest> 